@use "../abstract/color.scss" as *;

.container-contactMe {
  width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
}

.icon-contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-right: 0.75rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem 3rem;
  padding-top: 3rem;
  input {
    width: 100%;
    padding: 1em;
    border: 1.8px solid $main;
  }

  textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid;
    border: 1.8px solid $main;
  }

  button {
    justify-self: center;
    width: 48%;
    padding: 1em;
    border: 1px solid;
    @media (max-width: 800px) {
      width: 100%;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}
