@use "../abstract/color.scss" as *;

nav {
  @media (max-width: 800px) {
    display: none;
    height: 40rem;
    top: 0;
    left: 0%;
    position: absolute;
    background-color: $main;
    color: white;
    width: 100%;
  }
  &.is-open {
    display: block;
  }
  ul {
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 40rem;
    }
  }
  li {
    @media (max-width: 800px) {
      flex: 1 1 auto;
      border: 1px solid rgba(0, 0, 0, 0.15);
      display: flex;
    }
  }
  a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover::before {
      transform: scale(1, 1);
    }
  }
}
